@import "./reusable.scss";

.rich-text:focus {
    border-color: #2271b1;
    box-shadow: 0 0 0 1px #2271b1;
    outline: 2px solid transparent;
}

/*landing header block editor styles */
.full-header-wp-block-editor {
    border: 1px solid $gray;
    .landing-header-image {
        box-shadow: 0px 0px 70px 0px $white inset;
        .contain-text {
            display: grid;
            height: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            width: 50%;
            background: linear-gradient(90deg, $white, $white, $white, $white, transparent);
            .head-heading {
                align-self: flex-end;
                grid-column-start: 1;
                grid-row-start: 1;
                grid-row-end: 1;
                height: 60px;
                background: transparent;
                margin: 0rem 0rem 1rem 1rem;
                width: 85%;
                font-family: $headingFont;
            }
            .head-paragraph {
                align-self: flex-start;
                grid-column-start: 1;
                grid-row-start: 2;
                grid-row-end: 2;
                height: 135px;
                background: transparent;
                margin: 0rem 0rem 1rem 1rem;
                width: 85%;
                font-family: $bodyFont;
            }
            .block-editor-inner-blocks {
                margin: 0rem 0rem 1rem 1rem;
            }
            .cta-button {
                width: auto;
                height: 30px;
                font-family: $bodyFont;
            }
            
        }
        
    }
}

/*three image breaker block editor styles */

.three-images-block-editor {
    margin: 4rem 0rem;
    .section-heading-edit {
      margin: 1rem 0rem;
      font-family: $headingFont;
    }
    .image-heading {
        font-family: $bodyFont;
    }
    .image-container {
        width: 300px;
        height: 300px;
        background-position: center;
        background-size: cover; 
        margin: 1rem 0rem;
    }
    .image-data-container {
        margin-bottom: 1rem;
        .image-button-selector {
            border: 1px solid $brandBlack;
            border-radius: 6px;
        }
    }
}

/*General Information Text block editor styles */




/*Image Left Content Right block editor styles */
.imgl-contentr-wp-block-editor {
    .edit-image-button {
        .components-button {
            border: 1px solid $brandBlack;
            border-radius: 9px;
        }
    }
    .edit-imgl-contentr {
        .components-base-control  {
            margin: 1rem 0rem;
        }
        .radio-select {
            margin: 2rem 0rem;
            height: 200px;
        }
        .hold-content.light-green {
            background-color: #EEF8F7;
            height: 431px;
        }
        .hold-content.light-pink {
            background-color: #FFF9F7;
            height: 676px;
        }
        .hold-content {
            display: flex;
            justify-content: center;
            align-items: center;
            .hold-image.tall {
                height: 517px;
                width: 569px;
            }
            .hold-image.short {
                height: 388px;
                width: 583px;
            }
            .hold-text {
                display: flex;
                height: auto;
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;
                .content-heading {
                    height: 60px;
                    background: transparent;
                    margin: 2rem 2rem 1rem 1rem;
                    font-family: $headingFont;
                }
    
                .content-paragraph {
                    height: 135px;
                    background: transparent;
                    margin: 2rem 2rem 1rem 1rem;
                    font-family: $bodyFont; 
                }
                .block-editor-inner-blocks {
                    display: flex;
                    margin-left: 1rem;
                    .cta-button {
                        width: auto;
                        height: 30px;
                        font-family: $bodyFont;
                    }
                }
            }
        }
    }
}


/*Three Text Boxes block editor styles */
.three-text-boxes-block-editor {
    .three-boxes-content {
        .box-heading-text-edit {
            height: 60px;
            background: transparent;
            font-family: $headingFont; 
            margin-left: 1rem; 

        }
        .box-paragraph-edit { 
            margin-bottom: 2rem;
            margin-left: 1rem; 
            height: 135px;
            background: transparent;
            font-family: $bodyFont; 
        }
    }
}

/*Text Header CTA block editor styles */
.text-hero-cta-editor {
    .hold-content-edit {
        .text-heading-edit {
            height: 60px;
            margin: 2rem 2rem 1rem 1rem;
            background: transparent;
            font-family: $headingFont; 
        }
        .cta-button {
            width: auto;
            height: 30px;
            font-family: $bodyFont;
        }
    }
}

/*Three Step Path block editor styles*/
.three-step-path-block-editor {
  .section-heading-edit { 
    height: 60px;
    margin: 2rem 2rem 1rem 1rem;
    background: transparent;
    font-family: $headingFont; 
    padding: 1rem;
  }
    .hold-design-img-btns {
        margin: 2rem 0rem;
        display: flex;
        height: auto;
        justify-content: space-evenly;
        .design-image-button-selector {
            border: 1px solid;
            border-radius: 9px;
        }
        .hold-design-image {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
           
        }
        .design-image {
            max-width: 100%;
            height: 50px;
            margin: 0.25rem;
        }
    }
  
    .three-step-content-edit {
       
        .image-button-selector {
            border: 1px solid $brandBlack;
            border-radius: 9px;
        }

        .three-step-container {
            border-bottom: 1px solid $gray;
            margin: 1rem;
            .image-container {
                height: 300px;
                width: 300px;
                background-size: contain;
                margin: 1rem 0rem;
            }
            .subheading-content-edit {
                .step-heading {
                    margin-bottom: 0.25rem;
                    height: auto;
                    background: transparent;
                    font-family: $bodyFont; 
                    padding: 1rem;
                }
            }    
            .paragraph-content-edit {
                margin-bottom: 3rem;
                .step-paragraph {
                    margin-bottom: 2rem;
                    height: auto;
                    background: transparent;
                    font-family: $bodyFont;
                    padding: 1rem;
    
                }
            }    
            
        }
    }
  
}

/*Article with image block editor styles*/
.article-with-image-block-editor {
    .edit-article-text {
        .article-heading-edit {
            font-family: $headingFont;
        }
        .media-button {
            margin: 1rem 0rem;
            border: 1px solid $brandBlack;
            border-radius: 5px;
        }
        .hold-image-edit {
            height: auto;
            width: 300px;
            margin: 1rem 0rem;
            img {
                object-fit: cover;
                object-position: center;
            }
        }
        .the-text-edit {
            margin-bottom: 3rem;
            height: auto;
            background: transparent;
            font-family: $bodyFont;
            padding: 1rem;
        }
    }
} 

/*Blockquote block editor styles*/
.blockquote-editor {
    span {
        font-family: $bodyFont;
    }
}

/* Two Images with Captions block editor styles */
.two-images-with-caption-editor {
    .hold-content {
        display: flex;
        .each-content {
            margin: 4rem 1.5rem;
            .image-container {
                border: 1px solid $brandBlack;
                border-radius: 30px;
            }
            .image-button-selector {
                border: 1px solid $brandBlack;
                border-radius: 9px; 
                margin: 1rem 0rem;  
            }
        }
    }
}
