/*variables*/
$white: rgb(255,255,255);
$brandBlack: rgb(75, 75, 75);
$gray: rgb(94,94,94);
$brandOrange: rgb(243, 112, 55);
$lightGreen: #EEF8F7;
$lightPink: #FFF9F7;
$headingFont: "Tiempos Headline";
$bodyFont: "Nunito Sans";

mark {
  padding: 0em;
  border-radius: 20px/15px 0px 15px 0px;
}

@font-face {
    font-family: "Tiempos Headline" ;
    src: url("../fonts/TiemposHeadline/TiemposHeadline-Bold.otf");
}
@font-face {
    font-family: "Nunito Sans" ;
    // src: url("../fonts/Nunito/NunitoSans-Bold.ttf");
    src: url("../fonts/Nunito/NunitoSans-Regular.ttf");
   
}

/* Tabs */
.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  
  .tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
  }
