@import "./reusable.scss";

/*landing header block frontend styles */
.landing-header {
    mark {
        padding: 0em;
        border-radius: 20px/15px 0px 15px 0px;
    }
    margin-bottom: -6rem;
    .header-img-bg {
        box-shadow: inset -250px 0px 80px $white;
        max-width: 100%;
        height: 650px;
        background-size: 63%;
        position: relative;
        background-repeat: no-repeat;
        background-position: right;
        position: relative;
        z-index: -1;
        .hold-text-btn {
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            background: linear-gradient(90deg, $white, $white, $white, $white, $white, transparent);
            padding-left: 15rem;
            .landing-heading {
                text-align: left;
                margin-left: 2rem;
                width: 80%;
                font-size: 65px;
                line-height: initial;
                text-transform: capitalize;
                margin-bottom: 0px;
                font-family: $headingFont;
                color: $brandBlack;
            }
            .landing-paragraph {
                margin: -2rem 0rem 0rem 2rem;
                width: 70%;
                font-size: 24px;
                font-weight: 400;
                font-family: $bodyFont;
                color: $brandBlack;
            }
            .wp-block-button {
                margin-left: 2rem;
                a.wp-block-button__link { 
                    padding: 0.75rem 3rem;
                    font-family: $bodyFont;
                    font-size: 20px;
                    color: $white;
                    &:hover {
                        text-decoration: none;
                        background-color:  $brandBlack!important;
                    }
                }
                    
            }
        }
    }
}
@media (max-width: 1690px) {
.landing-header {
    .header-img-bg {
        .hold-text-btn {
            padding-left: 10rem; 
            .landing-heading {
                font-size: 60px;
            }  
        }
    }
}

}
@media (max-width: 1483px) {
.landing-header {
    .header-img-bg {
        height: 500px;
        box-shadow: inset -200px 0px 80px $white;
        .hold-text-btn {
            padding-left: 8rem; 
            .landing-heading {
                font-size: 55px;
            }  
            .landing-paragraph {
                font-size: 20px;
            }
        }
    }
}

}
@media (max-width: 1333px) {
.landing-header {
    .header-img-bg {
        height: 500px;
        box-shadow: inset -200px 0px 80px $white;
        .hold-text-btn {
            padding-left: 8rem; 
            .landing-heading {
                font-size: 45px;
            }  
            .landing-paragraph {
                font-size: 18px;
            }
        }
    }
}

}
@media (max-width: 1138px) {
.landing-header {
    .header-img-bg {
        height: 450px;
        box-shadow: inset -150px 0px 80px $white;
        .hold-text-btn {
            padding-left: 4rem;
        }
    }
}

}
@media (max-width: 1024px) {
.landing-header {
    .header-img-bg {
        height: 420px;
        .hold-text-btn {
            padding-left: 0rem;
            .landing-heading {
                font-size: 38px;
            }  
            .landing-paragraph {
                font-size: 15px;
            }   
        }
    }
}

}
@media (max-width: 992px) {
    .landing-header {
        .header-img-bg {
            height: 400px;
            .hold-text-btn {
                padding-left: 0rem;
                .wp-block-button {
                    a.wp-block-button__link {
                        font-size: 15px;
                        padding: 0.75rem 2rem;
                    }
                } 
            }
        }
    }
    
}
@media (max-width: 800px) {
    .landing-header {
        .header-img-bg {
            height: 350px;
            box-shadow: inset -100px 0px 80px $white;
            .hold-text-btn {
                padding-left: 0rem;
                .landing-heading {
                    font-size: 30px;
                }  
                .landing-paragraph {
                    font-size: 13px;
                }
                .wp-block-button {
                    a.wp-block-button__link {
                        font-size: 14px;
                        padding: 0.75rem 1.5rem;
                    }
                } 
            }
        }
    }  
}
@media (max-width: 680px) {
    .landing-header {
        .header-img-bg {
            height: 300px;
            background-size: contain;
            box-shadow: inset -100px 0px 80px $white;
            .hold-text-btn {
                padding-left: 0rem;
                width: 80%;
                background: linear-gradient(90deg, $white,  $white, transparent);
                .landing-heading {
                    font-size: 28px;
                }
                .landing-paragraph {
                    font-size: 12px;
                }
                .wp-block-button {
                    a.wp-block-button__link {
                        font-size: 14px;
                        padding: 0.75rem 1.5rem;
                    }
                } 
            }
        }
    }  
}
@media (max-width: 600px) {
    .landing-header {
        .header-img-bg {
            .hold-text-btn {
                width: 100%;
                background: linear-gradient(90deg, $white,  $white, transparent);
                .landing-heading {
                    font-size: 25px;
                }
                .landing-paragraph {
                }
                .wp-block-button {
                    a.wp-block-button__link {
                    }
                } 
            }
        }
    }  
}

/*three image breaker block frontend styles */
.three-images-wp-block.light-pink {
    background-color: $lightPink;
}
.three-images-wp-block.light-green {
    background-color: $lightGreen;
}
.three-images-wp-block {
    padding: 2rem;
    background-color: transparent; 
    border-radius: 300%/20% 20% 5% 90%;
    padding: 6rem 0rem;
    margin-top: 4rem;
    z-index: 1;
    .headline {
        text-align: center;
        font-size: 45px;
        text-transform: capitalize;
        margin-bottom: 4rem;
        font-family: $headingFont;
        font-weight: 600;
        color: $brandBlack;
    }
    .three-images-container {
       display: flex;
       justify-content: center;
       .image-link {
         border-radius: 30px;
         box-shadow: 1px 2px 10px rgb(0 0 0 / 25%);
         margin: 0rem 2rem;
         background: $white;
            h3 {
            text-align: center;
            font-size: 25px;
            color: $brandBlack;
            font-family: $bodyFont;
            font-weight: 500;
            padding: 1.5rem 2rem;
            margin-bottom: 0px;
            background: $white;
            border-radius: 30px;
           }
           .the-image {
            height: 384px;
            width: 400px;
            object-fit: cover;
            border-radius: 0px 0px 30px 30px;
           }
           .the-paragraph {
            padding: 2rem 3rem;
            width: 400px;
            color: $brandBlack;
            font-family: $bodyFont;
           }
        //    p {
        //     padding: 2rem 3rem;
        //     width: 400px;
        //    }
       }

    }
    .hold-extra-text {
        display: flex;
        justify-content: center;
        .the-text {
            width: 700px;
            margin-top: 2rem;
            p {
                font-family: $bodyFont;
                font-size: 18px;
                color: $brandBlack;
            }
        }
    }
}
@media (max-width: 1650px) {
    .three-images-wp-block {
        .three-images-container {
            .image-link {
                margin: 0rem 1rem;
                
            }
        }
    }
}
@media (max-width: 1500px) {
    .three-images-wp-block {
        .three-images-container {
            .image-link {
                margin: 0rem 1rem;
                .the-image {
                    height: 370px;
                    width: 360px;
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .three-images-wp-block {
        .headline {
            font-size: 35px;
        }
        .three-images-container {
            .image-link {
                margin: 0rem 1rem;
                h3 {
                    font-size: 22px;
                    padding: 1.5rem 1rem;
                }
                .the-image {
                    height: 264px;
                    width: 300px;
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    .three-images-wp-block {
        .headline {
            font-size: 35px;
        }
        .three-images-container {
            .image-link {
                margin: 0rem 1rem;
                h3 {
                    font-size: 22px;
                    padding: 1.5rem 1rem;
                }
                .the-image {
                    height: 264px;
                    width: 300px;
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .three-images-wp-block {
        .three-images-container {
            .image-link {
                margin: 0rem 1rem;
                h3 {
                    font-size: 16px;
                    padding: 1rem 1rem;
                }
                .the-image {
                    height: 230px;
                    width: 230px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .three-images-wp-block {
        padding: 4rem 0rem 7rem;
        border-radius: 300%/20% 20% 5% 60%;
        .headline {
            font-size: 22px;
            margin-bottom: 1rem;
        }
        .three-images-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            .image-link {
                margin: 1rem;
                width: 300px;
                h3 {
                    font-size: 16px;
                    padding: 1rem 1rem;
                }
                .the-image {
                    height: 300px;
                    width: 300px;
                }
            }
        }
        .hold-extra-text {
            .the-text {
                width: 350px;
                margin-top: 2rem;
            }
        }
    }
}

/*General Information Text block frontend styles */
.hold-text-containers {
    display: flex;
    justify-content: center; 
    .informational-text-container {
        width: 900px;
        padding: 0rem 6rem;  
        p {
            font-size: 18px;
            font-family: $bodyFont;
            color: $brandBlack;
        }
        .info-text-align-left {
            text-align: left;
        }
        .info-text-align-center {
            text-align: center;
        }
        .info-text-align-right {
            text-align: right;
        }
    }

}

/*Image Left Content Right block frontend styles */
.img-left-content-right.light-green {
    background-color: $lightGreen;
    height: 431px;
}
.img-left-content-right.light-pink {
    background-color: $lightPink;
    height: 676px;
}
.img-left-content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 0rem;
    border-radius: 160%/20% 20% 20% 20%;
  .image-hold {
    background-position: center;
    border-radius: 5%;
  }
  .image-hold.tall {
    height: 517px;
    width: 569px;
  }
  .image-hold.short {
    height: 388px;
    width: 583px;
  }
  .text-hold {
    padding: 2rem 0rem;
    margin-left: 3rem;
    .heading-content {
        line-height: initial;
        font-family: $headingFont;
        font-size: 45px;
        text-transform: capitalize;
        font-weight: 600;
        color: $brandBlack;
    }
    p {
        font-size: 18px;
        font-family: $bodyFont; 
        width: 600px;  
        color: $brandBlack;
    }
    .paragraph-content {
        font-size: 18px;
        font-family: $bodyFont;
        width: 600px;
        color: $brandBlack;
    }
    .wp-block-button {
        
        a.wp-block-button__link { 
            padding: 0.75rem 3rem;
            font-family: $bodyFont;
            font-size: 20px;
            color: $white;
            &:hover {
                text-decoration: none;
                background-color:  $brandBlack!important;
            }
        }
            
    }
  }
}
@media (max-width: 1280px) {
    .img-left-content-right {
        .image-hold {
            margin: 1.5rem;
        }
        .image-hold.tall {
            width: 400px;
        }
        .text-hold {
            padding: 2rem 1rem;
            margin-left: 0rem;
        }

    }
}
@media (max-width: 1024px) {
    .img-left-content-right {
        .image-hold {
            margin: 1.5rem;
        }
        .text-hold {
            padding: 2rem 1rem;
            margin-left: 0rem;
        }

    }
}
@media (max-width: 992px) {
    .img-left-content-right.light-green {
        background-color: $lightGreen;
        height: auto;
    }
    .img-left-content-right {
        flex-direction: column;
        height: auto;
        padding: 1.5rem;
        .image-hold {
            margin: 1.5rem;
        }
        .image-hold.tall {
            width: 600px;
        }
        .text-hold {
            .heading-content {
                font-size: 35px;
            }
            .wp-block-button {
                a.wp-block-button__link {
                    padding: 0.75rem 2rem;
                    font-size: 16px;
                }
            }
        }

    }
}
@media (max-width: 768px) {
    .img-left-content-right.light-green {
        background-color: $lightGreen;
        height: auto;
    }
    .img-left-content-right {
        .image-hold.tall {
            width: 400px;
        }
        .image-hold.short {
            width: 400px;
        }
        .image-hold {
            width: 400px;
        }
        .text-hold {
            .heading-content {
                font-size: 25px;
            }
            p {
                width: 375px;
            }
            .paragraph-content {
                width: 375px;
            }
        }

    }
}
@media (max-width: 400px) {
    .img-left-content-right {
        .image-hold.tall {
            width: 350px;
        }
        .image-hold.short {
            width: 350px;
        }
        .image-hold {
            width: 350px;
        }
        .text-hold {
            .heading-content {
                font-size: 22px;
            }
            p {
                width: 350px;
            }
            .paragraph-content {
                width: 350px;
            }
        }

    }
}

/*Three Text Boxes block frontend styles */
.three-text-boxes-wp-block {
    margin: 6rem 0rem;
    .three-text-boxes-container {
        display: flex;
        justify-content: center;
        .each-box {            
            width: 400px;
            margin: 0rem 2rem;
            padding: 2rem 1rem;
            border-radius: 30px;
            box-shadow: 1px 2px 19px rgb(0 0 0 / 15%);
            background-color: $white;
            height: auto;
            .box-heading {      
                padding: 1rem 0rem;
                text-align: center;
                width: auto;
                height: auto;
                color: $brandOrange;
                font-family: $headingFont;
                font-size: 45px;
                font-weight: bold;
            }
            .box-paragraph {
                padding: 0rem 2rem;
                font-family: $bodyFont;
                font-size: 18px;
                color: $brandBlack;
            }
        }
    }
}

@media (max-width: 1100px) {
    .three-text-boxes-wp-block {
        .three-text-boxes-container {
            .each-box {     
                width: 320px;
                margin: 0rem 1rem;       
                .box-heading {      
                }
                .box-paragraph {
                   
                }
            }
        }
    } 
}
@media (max-width: 992px) {
    .three-text-boxes-wp-block {
        .three-text-boxes-container {
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .each-box {     
                width: 400px;
                margin: 1rem 1rem;      
                .box-heading {  
                    font-size: 35px;    
                }
                .box-paragraph {
                   
                }
            }
        }
    } 
}
@media (max-width: 630px) {
    .three-text-boxes-wp-block {
        .three-text-boxes-container {
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .each-box {     
                width: 400px;
                margin: 1rem 1rem;      
                .box-heading {  
                    font-size: 35px;    
                }
                .box-paragraph {
                   font-size: 16px;
                   padding: 0rem 3rem;
                }
            }
        }
    } 
}

/*Text Header CTA block frontend styles */
.text-hero-cta.light-pink {
    background-color: $lightPink;
}
.text-hero-cta.light-green {
    background-color: $lightGreen;
}
.text-hero-cta {
    margin-bottom: -12rem;
    height: 450px;
    border-radius: 160%/20% 20% 20% 20%;
    padding: 5rem 0rem 4rem;
    .hold-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 100%;
        .text-heading {
            text-align: center;
            margin-bottom: 2rem;
            font-family: $headingFont;
            text-transform: capitalize;
            font-size: 55px;
            font-weight: 600;
            line-height: initial;
            color: $brandBlack;
        }
        .wp-block-button {
            margin-left: 2rem;
            a.wp-block-button__link { 
                padding: 0.75rem 3rem;
                font-family: $bodyFont;
                font-size: 20px;
                color: $white;
                &:hover {
                    text-decoration: none;
                    background-color:  $brandBlack!important;
                }
            }
                
        }
    }
}
@media (max-width: 768px) {
    .text-hero-cta {
        .hold-content {
            .text-heading {
                font-size: 40px;
            }
            .wp-block-button {
                margin-left: 0rem;
                a.wp-block-button__link { 
                    
                }
                    
            }
        }
    }
}

/*Three Step Path block frontend styles*/
.three-step-path-content.light-pink {
    background-color: $lightPink;
}
.three-step-path-content.light-green {
    background-color: $lightGreen;
}
.three-step-path-content {
    margin: 3rem 0rem 3rem 0rem;
    position: relative;
    background-color: transparent;
    border-radius: 300%/20% 20% 5% 44%;
    padding: 5rem 0rem;
    .headline {
        font-family: $headingFont;
        text-align: center;
        color: $brandBlack;
        text-transform: capitalize;
        font-size: 45px;
    }
    .the-design-img {
        position: absolute;
        height: auto;
    }
    /*top-left*/
    .img-1 {
        top: 26%;
        left: 18%;
        // left: 9%;

    }
    /*middle-right*/
    .img-2 {
        top: 50%;
        // right: 9%;
        right: 18%;
    }
    /*bottom-left*/
    .img-3 {
        // left: 10%;
        // bottom: 26%;
        left: 18%;
        bottom: 36%;
    }
    /*bottom-right*/
    .img-4 {
        // bottom: 0%;
        // right: 9%;
        bottom: 13%;
        right: 19%;
    }
    .hold-steps-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .each-step {
            width: 1000px;
            height: auto;
            padding: 2rem;
            margin: 2rem auto;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 40px;
            box-shadow: 0px 1px 15px rgb(0 0 0 / 15%);
            background-color: $white;
            .step-image {
                height: 200px;
                width: 200px;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .step-text {
                width: 700px;
                padding: 1rem 2rem;
                background: none;
                height: auto;
                h3 {
                    font-family: $bodyFont;
                    font-size: 35px;
                    color: $brandOrange;
                    font-weight: 600;
                }
                p {
                    font-family: $bodyFont;
                    font-size: 18px;
                    color: $brandBlack;
                }
    
            }
        }
    }
    .hold-extra-text {
        display: flex;
        justify-content: center;
        .the-text {
            width: 700px;
            p {
                font-family: $bodyFont;
                font-size: 18px;
                color: $brandBlack;
            }
        }
    }
}
@media (min-width: 2200px) {
    .img-1, .img-2, .img-3, .img-4 {
        display: none;
    }
}
@media (max-width: 1910px) {
    .three-step-path-content {
        .img-1 {
            top: 26%;
            left: 18%;
        }
        .img-2 {
            top: 50%;
            right: 18%;
        }
        .img-3 {
            left: 18%;
            bottom: 37%;
        }
        .img-4 {
            bottom: 16%;
            right: 19%;
        }
    }   
}
@media (max-width: 1810px) {
    .three-step-path-content {
        .img-1 {
            top: 26%;
            left: 16%;
        }
        .img-2 {
            top: 50%;
            right: 16%;
        }
        .img-3 {
            left: 16%;
            bottom: 37%;
        }
        .img-4 {
            bottom: 16%;
            right: 17%;
        }
    }  
}
@media (max-width: 1710px) {
    .three-step-path-content {
        .img-1 {
            top: 26%;
            left: 15%;
        }
        .img-2 {
            top: 50%;
            right: 15%;
        }
        .img-3 {
            left: 16%;
            bottom: 37%;
        }
        .img-4 {
            bottom: 16%;
            right: 17%;
        }
    }  
}
@media (max-width: 1610px) {
    .three-step-path-content {
        .img-1 {
            top: 26%;
            left: 10%;
        }
        .img-2 {
            top: 50%;
            right: 10%;
        }
        .img-3 {
            left: 11%;
            bottom: 36%;
        }
        .img-4 {
            bottom: 16%;
            right: 12%;
        }
    }   
}
@media (max-width: 1500px) {
    .three-step-path-content {
        .img-1 {
            top: 26%;
            left: 9%;
        }
        .img-2 {
            top: 50%;
            right: 9%;
        }
        .img-3 {
            left: 9%;
            bottom: 37%;
        }
        .img-4 {
            bottom: 16%;
            right: 10%;
        }
    }
}
@media (max-width: 1400px) {
    .three-step-path-content {
        .img-1 {
            top: 26%;
            left: 4%;
        }
        .img-2 {
            top: 50%;
            right: 4%;
        }
        .img-3 {
            left: 4%;
            bottom: 36%;
        }
        .img-4 {
            bottom: 16%;
            right: 5%;
        }
    }
}
@media (max-width: 1300px) {
    .three-step-path-content {
        .img-1 {
            top: 26%;
            left: 4%;
        }
        .img-2 {
            top: 50%;
            right: 4%;
        }
        .img-3 {
            left: 4%;
            bottom: 36%;
        }
        .img-4 {
            bottom: 16%;
            right: 5%;
        }
        .hold-steps-content {
            .each-step {
                width: 730px;
                .step-text {
                    width: 480px;
                    h3 {
                        font-size: 30px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
                .step-image {
                    height: 175px;
                    width: 175px;
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .three-step-path-content {
        .img-1 {
            top: 26%;
            left: 2%;
        }
        .img-2 {
            top: 50%;
            right: 2%;
        }
        .img-3 {
            left: 2%;
            bottom: 37%;
        }
        .img-4 {
            bottom: 16%;
            right: 3%;
        }
        .hold-steps-content {
            .each-step {
                width: 730px;
                .step-text {
                    width: 480px;
                    h3 {
                        font-size: 30px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
                .step-image {
                    height: 175px;
                    width: 175px;
                }
            }
        }
    }
}
@media (max-width: 1100px) {
    .three-step-path-content {
        .img-1 {
            top: 26%;
            left: 6%;
        }
        .img-2 {
            top: 50%;
            right: 6%;
        }
        .img-3 {
            left: 6%;
            bottom: 36%;
        }
        .img-4 {
            bottom: 15%;
            right: 8%;
        }
        .hold-steps-content {
            .each-step {
                width: 730px;
                .step-text {
                    width: 480px;
                    h3 {
                        font-size: 30px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
                .step-image {
                    height: 175px;
                    width: 175px;
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .three-step-path-content {
        .img-1 {
            top: 26%;
            left: 6%;
        }
        .img-2 {
            top: 50%;
            right: 6%;
        }
        .img-3 {
            left: 6%;
            bottom: 36%;
        }
        .img-4 {
            bottom: 17%;
            right: 8%;
        }
        .hold-steps-content {
            .each-step {
                width: 630px;
                .step-text {
                    width: 430px;
                    h3 {
                        font-size: 28px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
                .step-image {
                    height: 140px;
                    width: 140px;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .three-step-path-content {
        .headline {
            font-size: 30px;
        }
        .img-1, .img-2, .img-3, .img-4 {
            display: none;
        }
        .hold-steps-content {
            .each-step {
                width: 630px;
                .step-text {
                    width: 430px;
                    h3 {
                        font-size: 28px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
                .step-image {
                    height: 140px;
                    width: 140px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .three-step-path-content {
        .headline {
            font-size: 25px;
        }
        .hold-steps-content {
            .each-step {
                width: 400px;
                display: flex;
                flex-direction: column;
                .step-text {
                    width: 350px;
                    h3 {
                        font-size: 20px;
                    }
                    p {
                        font-size: 12px;
                    }
                }
                .step-image {
                    height: 140px;
                    width: 140px;
                }
            }
        } 
        .hold-extra-text {
            .the-text {
                width: 400px;
            }
        }    
    }
}
@media (max-width: 400px) {
    .three-step-path-content {
        .headline {
            font-size: 20px;
        }
        .hold-steps-content {
            .each-step {
                width: 350px;
                display: flex;
                flex-direction: column;
                .step-text {
                    width: 300px;
                    h3 {
                        font-size: 18px;
                    }
                    p {
                        font-size: 12px;
                    }
                }
                .step-image {
                    height: 100px;
                    width: 100px;
                }
            }
        } 
        .hold-extra-text {
            .the-text {
                width: 350px;
            }
        }    
    }
}

/*Article with image block frontend styles*/
.article-with-image {
    display: flex;
    align-items: center;
    flex-direction: column;
    .article-with-image-content {
        width: auto;
        margin: 5rem 0rem;
        padding: 0rem 16rem;
        box-shadow: 1px 3px 15px rgb(0 0 0 / 15%);
        border-radius: 40px;
        .article-text-content {
            width: 800px;
            display: block;
            margin: auto;
            h2 {
                font-family: $headingFont;
                text-align: center;
                color: $brandBlack;
                text-transform: capitalize;
                font-size: 45px;
                width: 500px;
                line-height: initial;
                margin: 4rem auto;
            }
            p{
                font-family: $bodyFont;
                font-size: 18px;
                color: $brandBlack;
            }
        }
        .article-image {
            img {
                margin-left: auto;
                position: relative;
                display: block;
            }
        }
    }
} 
@media (max-width: 1300px) {
    .article-with-image {
        .article-with-image-content {
            padding: 0rem 14rem;
        }
    } 
}
@media (max-width: 1200px) {
    .article-with-image {
        .article-with-image-content {
            padding: 0rem 10rem;
        }
    } 
}
@media (max-width: 1100px) {
    .article-with-image {
        .article-with-image-content {
            padding: 0rem 6rem;
        }
    } 
}
@media (max-width: 992px) {
    .article-with-image {
        .article-with-image-content {
            padding: 0rem 6rem;
            .article-text-content {
                width: 600px;
                h2 {
                    width: auto;
                    margin: 3rem auto;
                    font-size: 40px;
                }
            }
            .article-image {
                img {
                    width: 50%;
                }
            }
        }
    } 
}
@media (max-width: 784px) {
    .article-with-image {
        .article-with-image-content {
            padding: 0rem 6rem;
            .article-text-content {
                width: 450px;
                h2 {
                    width: auto;
                    margin: 3rem auto;
                    font-size: 35px;
                }
                p {
                    font-size: 16px;
                }
            }
            .article-image {
                img {
                    width: 50%;
                }
            }
        }
    } 
}
@media (max-width: 630px) {
    .article-with-image {
        .article-with-image-content {
            padding: 0rem 4rem;
            .article-text-content {
                width: 400px;
                h2 {
                    width: auto;
                    margin: 3rem auto;
                    font-size: 30px;
                }
            }
            .article-image {
                img {
                    width: 50%;
                }
            }
        }
    } 
}
@media (max-width: 520px) {
    .article-with-image {
        .article-with-image-content {
            padding: 0rem;
            .article-text-content {
                width: 300px;
                h2 {
                    width: auto;
                    margin: 3rem auto;
                    font-size: 25px;
                }
                p {
                    font-size: 14px;
                }
            }
            .article-image {
                img {
                    width: 25%;
                }
            }
        }
    } 
}

/*Blockquote block frontend styles*/
.block-quote {
    height: auto;
    padding: 4rem;
    margin: 2rem 0rem 5rem;
    .block-quote-content {
        z-index: 1;
        width: 1000px;
        display: block;
        margin: 4rem auto;
        position: relative;

        .quote-images {
            display: flex;
            justify-content: space-between;
            z-index: -1;
            width: 100%;
            .left-qt-img {
                width: 300px;
                height: auto;
            }
            .right-qt-img {
                width: 300px;
                height: auto;
                position: relative;
                top: 6rem;
            }
        }
        .wp-block-quote {
            z-index: 1;
            width: 100%;
            display: flex;
            justify-content: center;
            top: 0rem;
            position: absolute;
            flex-direction: column;
            border-left: 0;
            align-items: center;
            text-align: center;
            
            p {
                font-family: $bodyFont;
                width: 700px;
                color: $brandBlack;
                font-size: 35px;
            }
            cite {
                font-family: $bodyFont;
                color: $brandBlack;
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 1180px) {
    .block-quote {
        .block-quote-content {
            width: 900px;
            .quote-images {
                .left-qt-img {
                    width: 240px;
                    height: 170px;
                }
                .right-qt-img {
                    width: 240px;
                    height: 170px;
                    top: 3rem;
                }
            }
        }
    }
    
}
@media (max-width: 992px) {
    .block-quote {
        .block-quote-content {
            width: 700px;
            .quote-images {
                .left-qt-img {
                    width: 200px;
                    height: 140px;
                    top: -2rem;
                    position: relative;
                }
                .right-qt-img {
                    width: 200px;
                    height: 140px;
                    top: 1rem;
                }
            }
            .wp-block-quote {
                p {
                    font-size: 25px;
                }
                cite {
                    font-size: 12px;
                }
            }
        }
    }
    
}
@media (max-width: 768px) {
    .block-quote {
        .block-quote-content {
            width: 400px;
            .quote-images {
                .left-qt-img {
                    width: 150px;
                    height: 110px;
                    top: -2rem;
                    position: relative;
                }
                .right-qt-img {
                    width: 150px;
                    height: 110px;
                    top: 2rem;
                }
            }
            .wp-block-quote {
                p {
                    font-size: 20px;
                    width: 400px;
                }
                cite {
                    font-size: 12px;
                }
            }
        }
    }
    
}

/* Two Images with Captions block frontend styles */
.two-images-with-captions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0rem;
    padding: 2rem 0rem;
    .hold-the-images-captions {
        display: flex;
        width: auto;
        .each-image-caption {
            margin: 0rem 3rem;
            .the-image {
                img {
                width: 500px;
                height: 380px;
                border-radius: 30px;
                box-shadow: -1px 2px 20px rgb(35 35 35 / 15%);
                object-fit: cover;
                object-position: center;
                }
                img.hide {
                    display: none;
                }
                img.show {
                    display: block;
                }
            }
            .the-text {
                width: 500px;
                height: auto;
                margin-top: 1.5rem;
                p {
                    margin-left: 0.5rem; 
                    font-family: $bodyFont;
                    font-size: 18px;  
                }
                .sub-paragraph {  
                    margin-left: 0.5rem;
                    font-family: $bodyFont;  
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .two-images-with-captions {
        .hold-the-images-captions {
            .each-image-caption {
                margin: 0rem 1rem;
            }    
        }
    } 
}
@media (max-width: 1062px) {
    .two-images-with-captions {
        .hold-the-images-captions {
            .each-image-caption {
                margin: 0rem 1rem;
                .the-image {
                    img {
                        width: 428px;
                        margin: auto;
                    }
                }
                .the-text {
                    width: 428px;
                }
            }    
        }
    } 
}
@media (max-width: 916px) {
    .two-images-with-captions {
        margin: 2rem 0rem -3rem;
        .hold-the-images-captions {
            flex-direction: column;
            .each-image-caption {
                margin: 0rem 1rem;
                .the-image {
                    img {
                        width: 428px;
                        margin: auto;
                    }
                }
                .the-text {
                    width: 428px;
                    .sub-paragraph {
                        margin-bottom: 2rem;
                    }
                }
            }    
        }
    } 
}
/* Left Right Content Switch block frontend styles */

.left-right-content-switch {
    margin: 5rem 0rem;
    .hold-content.img-left {
        flex-direction: row;
    }
    .hold-content.img-right {
        flex-direction: row-reverse;
    }
    .hold-content {
        display: flex;
        justify-content: center;
        .hold-image {
            width: 450px;
            display: flex;
            justify-content: center;
            margin: 0rem 1rem;
            img {
                border-radius: 40px;
                width: 100%;
            }
        }
        .hold-text {
            width: 650px;
            p {
                color: $brandBlack;
                font-size: 18px;
                font-family: $bodyFont;
                padding: 1rem 1.5rem;
            }
        }
    }
}
@media (max-width: 900px) {
    .left-right-content-switch {
        margin: 5rem 0rem;
        .hold-content.img-left {
            flex-direction: column;
        }
        .hold-content.img-right {
            flex-direction: column-reverse;
        }
        .hold-content {
            display: flex;
            justify-content: center;
            align-items: center;
            .hold-image {
                width: 450px;
                display: flex;
                justify-content: center;
                margin: 0rem 1rem;
                img {
                    border-radius: 40px;
                    width: 100%;
                }
            }
            .hold-text {
                width: 485px;
                p {
                    color: $brandBlack;
                    font-size: 18px;
                    font-family: $bodyFont;
                    padding: 1rem 1.5rem;
                }
            }
        }
    }
}


